html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
Html {
  font-size: 62.5%;
}
#root {
  background-color: #0EA9CA;
}
.header-container__img-container {
  background-image: url(../img/corporate-1038x350.jpg);
  height: 300px;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #DDCDAC;
  box-shadow: 0px 13px 25px 10px #04DBDC;
}
.img-container__title {
  text-align: center;
  color: #DDCDAC;
  font-size: 5rem;
  font-family: 'Bungee Inline', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0E0E0E;
}
.header-container__text-container {
  height: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-container__text-container p {
  font-family: 'Bungee', cursive;
  color: #0E0E0E;
  font-size: 2.3rem;
  line-height: 150%;
  text-align: center;
  text-justify: center;
}
.header-container__text-container .why {
  font-size: 6rem;
  color: #04DBDC;
  font-family: 'Bungee Shade', cursive;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0E0E0E;
}
.header-container__text-container .because {
  font-size: 3rem;
  font-family: 'Bungee Shade', cursive;
  color: #DDCDAC;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0E0E0E;
}
.button-container {
  margin: 0% auto;
  display: flex;
  flex-direction: column;
}
.button-container img {
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
.button-container h2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 5rem;
  margin: 0 auto;
  margin-bottom: 2%;
}
#bounce:target {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.quote-container div {
  width: 800px;
  height: 150px;
  border: 3px dashed #DDCDAC;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-container div h1 {
  font-family: 'Bungee', cursive;
  font-size: 2.5rem;
  color: #DDCDAC;
  text-align: center;
  text-justify: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0E0E0E;
}
.quote-container .quote-container__instruction-lede {
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  color: #04DBDC;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0E0E0E;
}
.quote-container .quote-container__instruction {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.7rem;
}
.footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 4px dashed #DDCDAC;
  margin-top: 2%;
}
.footer h1 {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 3rem;
}
